<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Search</label>
  <input type="text" [(ngModel)]="filterText"  class="form-control" id="filterText" 
  placeholder="type to search">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} Searched.
</div>
<!-- | filterPipe:filterText -->
<div *ngFor="let product of products  |ingredient:filterText"  > <div class="card" style="width: 18rem;">
  <img class="card-img-top card-img" src="{{product.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" >{{product.recipeName}}</h5>
    <p class="card-text">{{product.recipeExplanation}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{product.ingredients}}</li>
    <li class="list-group-item">Ingredients ac facilisis in</li>
    <li class="list-group-item">Ingredients at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> </div>


<!-- <table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Price with Tax</th>
      <th>Units in Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName | uppercase}}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice |currency }}</td>
      <td>{{ product.unitPrice |vatAdded:18 | currency }}</td>
      <td>{{ product.unitsInStock }}</td>
      <td><button (click)="addToCart(product)" 
        type="button" class="btn btn-success">Add to Cart</button></td>
    </tr>
  </tbody>
  
</table> -->

