<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Add Recipe</h5></div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mb-3">
                        <label for="Name">Recipe Name</label>
                        <div class="form-group">
                            <input type="text" 
                            id="Name" 
                            formControlName="Name" class="form-control" 
                            placeholder="Recipe Name"/>
                        </div>
                    </div>
                   
                    <div class="mb-3">
                        <label for="categoryId">Category    1:Breakfast 2:Meat 3:Salad 4:Soup</label>
                        <div class="form-group">
                            <input type="number" 
                            id="categoryId" 
                            formControlName="categoryId" class="form-control" 
                            placeholder="Kategori"/>
                        </div>
                    </div>
                   <div class="mb-3">
                    <label for="recipeExplanation">Recipe Explanation</label>
                    <div class="form-group">
                        <input type="text" 
                        id="recipeExplanation" 
                        formControlName="recipeExplanation" class="form-control" 
                        placeholder="Recipe Explanation"/>
                    </div>
                   </div>
                    <div  class="mb-3">
                        <label for="ingredients">Ingredients</label>
                        <div class="form-group">
                            <input type="text" 
                            id="ingredients" 
                            formControlName="ingredients" class="form-control" 
                            placeholder="içindekiler"/>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Add</button>
            </div>
        </div>
        
    </div>
    
</div>